	

		<div id="top">
			

			<div id="nav">	

				<ul class="mega-container mega-grey">

					<li class="mega mega-current">				
						<a href="javascript:;" class="mega-tab">
							Companies
						</a>

						<div class="mega-content mega-menu ">
							<ul>
								<% Company.all.each do |company| %>
								<li><td><%= link_to company.name, company %></td></li>
								<% end %>
							</ul>
						</div>						
					</li>


					<li class="mega">				
						<%= link_to 'All Units', units_path, :class => "mega-link" %>
								
					</li>							

					<li class="mega">				
						<%= link_to 'All Errors', errors_path, :class => "mega-link" %>

					</li>
				</ul>
			</div> <!-- #nav -->
		</div> <!-- #top -->